* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(228, 228, 228);
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 12px;
}

.col-forth {
    width: 60px;
}

.col-half {
    width: 135px;
}

.main {
    margin: auto;
    cursor: default !important;
    padding: 32px;
    width: 350px;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile {
    cursor: default !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-bottom: 16px !important;
    padding-top: 48px !important;
}

.avatar-frame {
    margin-bottom: 32px;
    width: 148px;
    height: 148px;
    border-radius: 50% !important;
    padding: 16px;
}
.profile__name {
    font-size: 18px;
}

.profile__descriptions {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.avatar-frame__img {
    width: 100%;
    /* transform: scale(1.5); */
    border-radius: 50%;
    object-fit: cover;
}

.profile__add-to-contact-btn {
    width: 65%;
    background: #6083b7 !important;
    border-radius: 50px !important;
}

.profile__add-to-contact-btn h2 {
    font-size: 14px;
}
.social-btns {
    display: flex;
}

.social-btns i {
    font-size: 25px;
}

.more-info {
    display: flex;
}

.more-info div i {
    font-size: 24px;
}
.more-info div {
    display: flex;
    padding: 0px 22px;
    justify-content: center;
}
.more-info h2 {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}

.banking-info {
    display: flex;
    flex-direction: column;
}

.banking-info__select {
    display: flex;
}

.banking-content {
    height: 60px;
}
.banking-content p {
    /* line-height: 48px; */
    font-size: 18px;
    text-decoration: none !important;
    color: #fff !important;
}

.banking-info__list {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/select-arrow.png),
        -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #aaa;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    width: 180px;
    /* padding: 16px; */
    color: #fff;
}

.banking-info__list h2 {
    font-size: 16px;
}
.banking-info__list option {
    font-size: 16px;
}

.copy-btn {
    background: #6083b7 !important;
    font-size: 10px;
    width: 90px;
    color: white;
}

.normal-button {
    text-decoration: none !important;
    list-style: none !important;
    border: none !important;
    margin: 8px;
    padding: 8px;
    outline: 0px;
    text-align: center;
    border-radius: 18px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow: 6px 6px 12px #202020, -6px -6px 12px #464646;
    cursor: pointer;
}

.social-btns__instagram i {
    font-size: 32px;
}

.pressed-button {
    text-decoration: none !important;
    list-style: none !important;
    border: none !important;
    margin: 8px;
    padding: 8px;
    text-align: center;
    border-radius: 18px;
    background: #333333;
    box-shadow: inset 6px 6px 12px #202020, inset -6px -6px 12px #464646;
}

body {
    display: block;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    height: 100%;
}
